

/* Button */

.button {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 50px;
    position: relative;
    z-index: 9;
    border: none;
    background-color: $blue;
    color: $white;
    outline: none;
    font-size: 18px;
    padding: 15px 50px;
    @include media-breakpoint-down(lg) {
        font-size: 16px;
        padding: 23px 70px;
    }
    
    &:hover {
        background-color: $secondary;
        color: $white;
    }
    &.button--blue {
        background-color: $blue;
        color: $white;
        &:hover {
            background-color: $secondary;
            color: $white;
        }
    }
    &.button--secondary {
        background-color: $secondary;
        color: $white;
        &:hover {
            background-color: $primary;
            color: $white;
        }
    }
}

/* Button Group */

.button-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include media-breakpoint-down(sm) {
        flex-flow: column;
        width: 100%;
        align-items: flex-start;
    }
    &--center {
        justify-content: center;
        a {
            margin: 0 15px !important;
            @include media-breakpoint-down(sm) {
                width: 100%;
                margin: 10px 0px !important;
            }
        }
    }
    a {
        margin-top: 0;
        @include media-breakpoint-down(sm) {
            justify-content: center;
        }
        &:first-child {
            margin-right: 30px;
            @include media-breakpoint-down(sm) {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
        // @include media-breakpoint-down(md) {
        //     display: block;
        //     width: 100%;
        //     text-align: center;
        //     margin-bottom: 5px;
        // }
    }
}


// Text Button 

.text-button {
    color: $primary !important;
    font-size: 20px;
    font-weight: bold;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(lg) {
        font-size: 18px;
    }
    i, img {
        font-size: 24px;
        margin-left: 14px;
        transition: all .3s ease;
        @include media-breakpoint-down(lg) {
            font-size: 22px;
        }
    }
    &:hover {
        i, img {
            margin-left: 30px;
            transition: all .3s ease;
            
        }
    }
    &.text-white {
        color: $white !important;
    }
    &.text-button--small {
        font-size: 18px;
        @include media-breakpoint-down(lg) {
            font-size: 16px;
        }
        i, img {
            font-size: 22px;
            @include media-breakpoint-down(lg) {
                font-size: 20px;
            }
        }
    }
    &.text-button--blue {
        font-size: 13px;
        color: $secondary !important; 
        i, img {
            font-size: 16px;
        }
    }
}

